<footer role="contentinfo" class="footer">
  <p><small>© {{date format="YYYY"}}. All Rights Reserved.</small></p>
  <p><small>Published with <a href="http://ghost.org" target="_blank">Ghost</a></small></p>
  <a class="subscribe" href="{{@blog.url}}/rss/" style="text-decoration:none">Subscribe  <i class="fa fa-rss"></i></a>
		{{#if @blog.description}}
			<span class="blog-description">{{@blog.description}}</span>
		{{/if}}
	<br /><i class="fa fa-twitter fa-lg fa-twitter-trans"></i>  Follow me on twitter: <a href="https://www.twitter.com/dexafreeHTC">@dexafreeHTC</a>
</footer>

